

<div class="container ">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
   
    <div id="error">
    <% if @user.errors.any? %>
    <h3><%= @user.errors.count %> errors prohibited this obj from being saved:</h3>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>


    <h2>User info</h2>
    <%= form_with model: @user do |f| %>
      <div class="col text-md">
       <label for="inputName">Name</label>
         <div class="border">
           <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前", class: "form-control", style: "width: 100%;" %>
         </div>
       <label for="inputImage">ProfileImage</label><br>
      <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*"%><br>
       <label for="inputIntroduction">Introduction</label>
         <div class="border">
           <%= f.text_area :introduction, id: "inputIntroduction", placeholder: "自己紹介文", class: "form-control", style: "width: 100%;"%>
         </div>
        </div>
        <%= f.submit "Update User", class: "border rounded bg-secondary text-white mt-2 py-1 ml-3"%>
    <% end %>
    </div>
  </div>
</div>


