<div class="container px-5 px-sm-0">
 <div class="row">
  <div class="col-md-3">
    <h3>User info</h3>  
     <div class="profile-container">
     <%= image_tag @user.get_profile_image(100, 100) %>

     <table class="table">
       <thead>
         <tr>
           <th>name</th>
           <th><%= @user.name %></th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <th>introduction</th>
           <th><%= @user.introduction %></th>
         </tr>
       </tbody>
     </table>
     <!-- ブーストラップではtr＝横方向に並べる、その中でthは横並び、tdは縦並びになる-->
     <!-- ちなみに大文字にしたい場合はthで囲む-->

     <div class="border border-dark text-center">
      <% if @user == current_user %>
       <td>
        <%= link_to edit_user_path(@user) do %>
          <i class="fa-solid fa-user-gear"></i>
        <% end %>
       </td>
      <% end %>
     </div><br>
    
     <h3>New book</h3>
     <div class="book">
     <%= form_with model: @book do |f| %>
       <div class="row">
         <div class="col">
           <h5>Title</h5>
           <div class="border">
             <%= f.text_field :title, class: "form-control", style: "width: 100%;" %>
           </div>
           <h5>Opinion</h5>
           <div class="border">
              <%= f.text_area :body, class: "form-control", style: "width: 100%;" %>
           </div>
         </div>
       </div>
       <%= f.submit 'Create Book', class: "border rounded bg-success text-white mt-2 py-1" %>
      <% end %>
      </div>
     </div>
  </div>

  <div class="col-md-8 offset-md-1 mt-3">
   <h2>Users</h2>
   <table class="table">
    <thead>
      <tr>
        <th>image</th>
        <th>Name</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
     <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(100,100) %></td>
        <td><%= user.name %></td>
        <td><%= link_to "Show", user_path(user) %></td>
      </tr>
     <% end %>
    </table>
    </table>
  </div>
 </div>
</div>


