<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h4>name</4>
    <p><%= @user.name %></p>
  <h4>introduction</4>
    <p><%= @user.introduction %></p>
  <%if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path %></p>
  <% end %>

<h2>New book</h2>
<%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>


<h2>Books</h2>
  <% @books.each do |book| %>
    <div>
      <span>Title:</span>
      <%= link_to book_path(book) do %>
        <%= book.title %>
      <% end %>
      <p>Opinion:<%= book.body %></p>
    </div>
  <% end %> 


</div>
