<h4>User info</4>
# ユーザーの詳細
<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100, 100) %>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
  
</div>

<% @books.each do |book| %>
  <div>
    <p>Title:<%= book.title %></p>
    <p>Opinion:<%= book.opinino %></p>
    <%= link_to "削除", book_path(:id), method: :delete %>
    <%= link_to "show", books_path %>
  </div>


<% end %>