<h2>User info</h2>

<div class="profile-container">
  <%= image_tag @user.get_profile_image(100, 100) %>
  <h4>name</4>
    <p><%= @user.name %></p>
  <h4>introduction</4>
    <p><%= @user.introduction %></p>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<h2>New book</h2>
<%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>

<h2>Books</h2>
<% @books.each do |book| %>
  <div>
    <p>Title:<%= book.title %></p>
    <p>Opinion:<%= book.body %></p>
    <%= link_to "show", book_path(book) %>
  </div>


<% end %>