<div class="container">
 <div class="row my-3 mx-5">
  <div class="col-md-3">
    <h3>User info</h3>  
     <div class="profile-container">
     <%= image_tag @user.get_profile_image(100, 100) %>

     <table class="table">
       <thead>
         <tr>
           <th>name</th>
           <th><%= @user.name %></th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <th>introduction</th>
           <th><%= @user.introduction %></th>
         </tr>
       </tbody>
     </table>

     <div class="border border-dark text-center">
      <% if @user == current_user %>
       <td>
        <%= link_to edit_user_path(@user) do %>
          <i class="fa-solid fa-user-gear"></i>
        <% end %>
       </td>
      <% end %>
     </div>
     <br>
    

     <% if @book.errors.any? %>
      <div id="error">
       <h2><%= pluralize(@book.errors.count, "error") %> prohibited this obj from being saved:</h2>
      <ul>
       <% @book.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
      </ul>
      </div>
     <% end %>
     <h3>New book</h3>
     <div class="book" >
     <%= form_with model: @book do |f| %>
       <div class="row">
         <div class="col">
           <h5>Title</h5>
           <div class="border">
             <%= f.text_field :title, class: "form-control", style: "width: 100%;" %>
           </div>
           <h5>Opinion</h5>
           <div class="border">
              <%= f.text_area :body, class: "form-control", style: "width: 100%;" %>
           </div>
         </div>
       </div>
       <%= f.submit 'Create Book', class: "border rounded bg-success text-white mt-2 py-1" %>
      <% end %>
      </div>
     </div>
  </div>


  <div class="col-md-8 offset-md-1 mt-3">
   <h2>Books</h2>
   <table class="table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <tbody>
     <% @books.each do |book| %>
      <tr>
        <td>
          <%= link_to user_path(book.user) do %>
            <%= image_tag book.user.get_profile_image(100,100) %>
          <% end %>
        </td>
        
        
        </td>
        <td><%= link_to book_path(book) do %>
          <%= book.title %>
        <% end %>
        </td>
        <td><%= book.body %></td>
      </tr>
     <% end %>
    </table>
  </div>
 </div>
</div>