<div>
  <%= image_tag @book.get_image %>
  <p>Title:<%= @book.title %></p>
  <p>Opinion:<%= @book.opinino %></p>
  <%= if book_comments.user == current_user %>
    <%= link_to "削除", book_book_comment_path(book_comment.book, book_comment), method: :delete %>
  <% end %>
<div>

<div>
 <storong>Books</strong>
   <p>Title</p>
   <% link_to>
   <p>Opinion</p>
    
</div>
