<div class="container px-5 px-sm-0">
 <div class="row">
  <div class="col-md-3">
    <h3>User info</h3>  
     <div class="profile-container">
     <%= image_tag @book.user.get_profile_image(100, 100) %>

     <table class="table">
       <thead>
         <tr>
           <th>name</th>
           <th><%= @book.user.name %></th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <th>introduction</th>
           <th><%= @book.user.introduction %></th>
         </tr>
       </tbody>
     </table>
     

     <div class="border border-dark text-center">
      <% if @user == current_user %>
       <td>
        <%= link_to edit_user_path(@user) do %>
          <i class="fa-solid fa-user-gear"></i>
        <% end %>
       </td>
      <% end %>
     </div><br>
    
     <h3>New book</h3>
     <div class="book">
     <%= form_with model: @book_new do |f| %>
       <div class="row">
         <div class="col">
           <h5>Title</h5>
           <div class="border">
             <%= f.text_field :title, class: "form-control", style: "width: 100%;" %>
           </div>
           <h5>Opinion</h5>
           <div class="border">
              <%= f.text_area :body, class: "form-control", style: "width: 100%;" %>
           </div>
         </div>
       </div>
       <%= f.submit 'Create Book', class: "border rounded bg-success text-white mt-2 py-1" %>
      <% end %>
      </div>
     </div>
  </div>



<div class="col-md-8 offset-md-1 mt-3">
<h2>Book detail</h2>
<table class="table">
 <tbody>
  <tr>
    <td>
      <%= link_to user_path(@book.user) do %>
        <%= image_tag @book.user.get_profile_image(100,100) %>
        <br>
        <%= @book.user.name %>
      <% end %>
     </td>

    <td>
     <%= link_to user_path(@book.user) do %>
      <%= @book.title %>
    <% end %>
    </td>
    <td><%= @book.body %></td>
  <% if @book.user == current_user %></div>
      <td><%= link_to "Edit", edit_book_path(@book) %></td>
      <td><%= link_to "Destroy", book_path(@book), method: :delete %></td>
  <% end %>
  </tr>
 </tbody>
</table>
</div>
